<footer class="p_t_80 p_b_60 p_m_b_20 p_m_t_40">
	<div class="container">
		<div class="row">
			<div class="col footer_alignment d-flex">
				<div class="footer_inner first">
					<div class="footer_links">
						<h6 class="text-white p_b_30 p_m_b_20">Services</h6>
						<ul>
							<li>
								<a href="{{site.baseurl}}/technology-consulting/">Technology Consulting </a>
							</li>
							<li>
								<a href="{{site.baseurl}}/software-development/">Software Development </a>
							</li>
							<li> 
								<a href="{{site.baseurl}}/maintenance-support/">Improvement & Support </a>
							</li>
				
						</ul>
					</div>
				</div>
				<div class="footer_inner">
					<div class="footer_links">
						<h6 class="text-white p_b_30 p_m_b_20">About Us</h6>
						<ul>
							<li>
								<a href="{{site.baseurl}}/our-story/">Our Story </a>
							</li>
							<li>
								<a href="{{site.baseurl}}/leadership/">Leadership </a>
							</li>
							<li>
								<a href="{{site.baseurl}}/our-offices/"> Offices </a>
							</li>
							
							
						</ul>
					</div>
				</div>
				<div class="footer_inner">
					<div class="footer_links">
						<h6 class="text-white p_b_30 p_m_b_20">Our Work</h6>
						<ul>
							<li>
								<a href="{{site.baseurl}}/case-study/">Case Studies </a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer_inner last">
					<div class="footer_links">
						<h6 class="text-white p_b_30 p_m_b_20">Blog</h6>
						<ul>
							<li>
								<a href="{{site.baseurl}}/#/">News</a>
							</li>
							<li>
								<a href="{{site.baseurl}}/#/">Authors</a>
							</li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="footer_logo hide_on_mobile">
					<img src="{{site.baseurl}}/images/door3-logo-blue.svg" alt="Door3 Logo" class="img-fluid">
				</div>
				<div class="border_line"></div>
			</div>
		</div>

		<div class="our_info">
			<div class="row">
				<div class="col">
					<div class="info_alignment d-flex">
						<div class="info_left">
							<div class="address">
								<h6>22 Cortlandt Street, Suite 1101<br>
									New York, NY 10007</h6>
							</div>
						</div>
						<div class="info_right">
							<ul class="d-flex">
								<li>
									<a href="mailto:projects@door3.com">projects@door3.com</a>
								</li>
								<li>
									<a href="tel:(212) 673-1818">(212) 673-1818  </a>
									<span>Main</span>
								</li>
								<li>
									<a href="tel:(646) 351-0012">(646) 351-0012 </a>
									<span>Sales</span>
								</li>
								<li>
									<a href="https://www.linkedin.com/company/259276">
										<img src="{{site.baseurl}}/images/linkedin.svg" alt="Door3 Linkedin" class="img-fluid" title="Follow us on Linkedin">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer_address_mobile show_from_mobile">
			<div class="row">
				<div class="col">
					<div class="footer_logo">
						<img src="{{site.baseurl}}/images/door3-logo-blue.svg" alt="Door3 Logo" class="img-fluid">
					</div>
					<div class="address">
						<h6>22 Cortlandt Street, Suite 1101<br>
							New York, NY 10007</h6>
					</div>
				</div>
			</div>
		</div>


	</div><!-- container -->
</footer>

