<header>
<div class="container">
<div class="row">
<div class="col">
    <div class="navigation_alignmnet">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="{{site.baseurl}}">
                <img src="{{site.baseurl}}/images/door3-logo.svg" alt="Door3-logo" class="img-fluid" id="door3Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">Services</a>
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown_menu_alignment">
                                        <ul class="menu_inner">
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/technology-consulting/">Technology Consulting</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/software-development/">Software Development</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/maintenance-support/">Maintenance & Support</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">About Us</a>
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown_menu_alignment">
                                        <ul class="menu_inner">
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/our-story/">Our Story</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/leadership/">Leadership</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/our-offices/">Offices</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/our-work/">Our Work</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">Blog</a>
                    <div class="dropdown-menu">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown_menu_alignment">
                                        <ul class="menu_inner">
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/our-story/">News</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{site.baseurl}}/leadership/">Authors</a>
                                                <h6>We provide expert guidance to modernize and evolve your organization.</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/contact-us/">Contact Us</a>
                </li>    
                </ul>
            </div>  
        </nav>
    </div>
</div>
</div>
</div>
</header>


