$lightGrey: #F9F8FA;
$mediumGrey: #ECEAF8;
$mediumGreySecond: #D6D4E3;
$textGrey: #4D535B;
$dark: #151515;
$teal: #34E7D0;
$door3Blue: #0152BC;
$pink: #CE40EB;
$black: #000;
$white: #ffffff;
$whiteGrey: #fafafa;
$whitesmoke: #f5f5f5;
$maroon: #b10610;
$darkBlack: #444444;
$blueLinks: #2878db;
$buttonBackground: #FFB600;
$buttonBackgroundHover: #F2A300;
$buttonColor: #231e46;
$copyRight: #929191;
$blueColor: #68bbd3;
$listItemCheck: #9d70e2;
$purple: #410099;
$activeNav: #ffb600;
$mainPurple: #3d2683;
$blueHaze:#C2C0CF;
$gainsBoro: #d8d8d8;
$cinder: #212325;
$sapphire: #0C2250 